version: '3.8'

services:
  app:
    build: .  
    restart: on-failure          
    ports:
      - "8080:8080"     
    depends_on:
      - db              
    environment:
      - DB_HOST=${DB_HOST}      
      - DB_PASSWORD=${DB_PASSWORD}

  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: